extends layout

block head
  - var ngApp = 'myApp'

block content
  div.jumbotron

    h1 Welcome to Espresso

    div.lead(ng-controller='AppCtrl') Hello, {{name}}
    span.lead Click on one of the options below to test the project
      br
      ul
        li
          a(href='#/home') User listing, details
        li
          a(href='#/socket') Socket server
      hr
      div(ng-view)

    div
      | Angular Espresso, version &nbsp;
      span(app-version)


