extends layout

block head
  - var ngApp = 'myApp'

block content
  div.jumbotron

    h1 Welcome to IEG Score

    //-
      div.lead(ng-controller='AppCtrl') Hello, {{name}}
    span.lead Click on one of the links below to navigate to the different views
      br
      ul
        li
          a(href='/manage') Mangement interface
        li
          a(href='/overview') Overview
        li
          a(href='/view') CG View
        li
          a(href='/smartwatch') Smartwatch (clock only)
      hr
      div(ng-view)

    div
      | Powered by Angular Espresso


