extends layout

block head
  - var ngApp = 'ScoreApp'

block content
    div(ng-controller='GameDataCtrl')
        //- Navigation bar
        nav.navbar.navbar-default.navbar-fixed-top(ng-controller="HeaderController")
            div.container-fluid
                div.navbar-header
                    button.navbar-toggle(type="button")
                        span.sr-only Toggle navigation
                        span.icon-bar 
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="#") IEG-Score
                div.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li(ng-class="{ active: isActive('/clock')}"): a(href='#/clock') Game Clock
                        li(ng-class="{ active: isActive('/score')}"): a(href='#/score') Scoreboard
                        li(ng-class="{ active: isActive('/roster/home')}"): a(href='#/roster/home') Roster Home
                        li(ng-class="{ active: isActive('/roster/guests')}"): a(href='#/roster/guests') Roster Guests
    
        section.container
            div(ng-view)