extends layout

block head
  - var ngApp = 'ScoreApp'

block content
    div#tvArea
        div(ng-controller='GameDataCtrl')
            div(ng-include="'/partials/view/clock'")
            div(ng-include="'/partials/view/scoreboard'")
    div#outOfTVRight AREA OFF SCREEN
    div#outOfTVBottom AREA OFF SCREEN