div#gameClock(ng-controller='GameClock')
    div.container
        div.info
            div.transition-slow.moveinfo.clockpos.flag(ng-show="getInfo() == 1") Flag
            div.transition-slow.moveinfo.homepos(ng-show="getInfo() == 2") Timeout
            div.transition-slow.moveinfo.guestpos(ng-show="getInfo() == 3") Timeout
            div.transition-slow.moveinfo.clockpos(ng-show="getInfo() == 4") Timeout
        div.quarter
            div.transition-slow.fadein.fadeout(ng-show="getQuarter() == 1") 1
                sup st
            div.transition-slow.fadein.fadeout(ng-show="getQuarter() == 2") 2
                sup nd
            div.transition-slow.fadein.fadeout(ng-show="getQuarter() == 3") 3
                sup rd
            div.transition-slow.fadein.fadeout(ng-show="getQuarter() == 4") 4
                sup th
            div.transition-slow.fadein.fadeout(ng-show="getQuarter() == 5") OVT
        div.animate-container.fadein.fadeout.transition-faster.time(ng-bind="getTime()", ng-show="getClockVisible()")