div(ng-controller='LowerThirds')
    div#audioLoops(ng-controller='Audio')
        audio#loop4(loop, ng-control-audio="model.loopNr")
            source(src="/sound/loop4.ogg")

            
    div#refereeContainer
        div.animate-container.transition-faster.movein-right.moveout-right(ng-show="getRefVisible()")
            div.refereeImage
                img(src="/images/referee/{{ getRefContent().num }}.png", ng-show="getRefContent().num")
            div.refereeText
                span(ng-bind="getRefContent().name")
                
                
    div#lowerThirdText.lowerThird
        div.animate-container.transition-faster.movein-left.moveout-left(ng-show="getGPVisible()")
            div.front(style="-webkit-filter: saturate(0%);")
            div.text
                div.firstLine
                    span(ng-bind="getGPContent().split('\n')[0]")
                div.secondLine
                    span(ng-bind="getGPContent().split('\n')[1]")
                div.homepage
                    span www.af-live.at
                
    div#lowerThirdPlayer.lowerThird
        div.animate-container.transition-faster.movein-left.moveout-left(ng-show="getPlayerVisbileSmall() || getPlayerVisbileLarge()")
            div.front(style="-webkit-filter:  hue-rotate( {{ getDataElem(getPlayer().team).model.hue }}deg);")
            div.text
                div.firstLine
                    span(ng-bind="getPlayer().number")
                    span 
                    span(ng-bind="getPlayer().name")
                    span.flag(ng-show="getPlayer().nat")
                        img(src="/images/countries/{{ getPlayer().nat |lowercase}}.png")
                div.secondLine
                    span(ng-bind="getDataElem(getPlayer().team).model.teamNameLong || getPlayer().team")
                div.transition-faster.movein-left.moveout-left.info(ng-show="getPlayerVisbileLarge()")
                    div.position(ng-show="getPlayer().position")
                        span Pos: 
                        span(ng-bind="getPlayer().position.join()")
                    div.age(ng-show="getPlayer().dob")
                        span Age: 
                        span(ng-bind="calcAge(getPlayer().dob)")
                    div.size(ng-show="getPlayer().size")
                        span Size: 
                        span(ng-bind="getPlayer().size + ' cm'")
                    div.weight(ng-show="getPlayer().weight")
                        span Weight: 
                        span(ng-bind="getPlayer().weight + ' kg'")
                    div.exp(ng-show="getPlayer().exp")
                        span Exp: 
                        span(ng-bind="getPlayer().exp+ ' yrs'")
                div.homepage
                    span www.af-live.at
                
        