div(ng-controller='LowerThirds')
    div#refereeContainer
        div.animate-container.transition-faster.movein-right.moveout-right(ng-show="getRefVisible()")
            div.refereeImage
                img(src="/images/referee/{{ getRefContent().num }}.png", ng-show="getRefContent().num")
            div.refereeText
                span(ng-bind="getRefContent().name")
                
                
    div#lowerThirdText.lowerThird
        div.animate-container.transition-faster.movein-left.moveout-left(ng-show="getGPVisible()")
            div.front(style="-webkit-filter: saturate(0%);")
            div.text
                div.firstLine
                    span(ng-bind="getGPContent().split('\n')[0]")
                div.secondLine
                    span(ng-bind="getGPContent().split('\n')[1]")
                div.homepage
                    span www.af-live.at
                
    div#lowerThirdPlayer.lowerThird
        div.animate-container.transition-faster.movein-left.moveout-left(ng-show="getPlayerVisbileSmall() || getPlayerVisbileLarge()")
            div.front(style="-webkit-filter:  hue-rotate( {{ getDataElem(getPlayer().team).model.hue }}deg);")
            div.text
                div.firstLine
                    span(ng-bind="getPlayer().number")
                    span 
                    span(ng-bind="getPlayer().name")
                    span.flag(ng-show="getPlayer().nat")
                        img(src="/images/countries/{{ getPlayer().nat |lowercase}}.png")
                div.secondLine
                    span(ng-bind="getDataElem(getPlayer().team).model.teamNameLong || getPlayer().team")
                div.transition-faster.movein-left.moveout-left.info(ng-show="getPlayerVisbileLarge()")
                    div.position(ng-show="getPlayer().position")
                        div(ng-repeat="pos in getPlayer().position")
                            span(ng-show="pos=='HC'") Headcoach
                            span(ng-show="pos=='OC'") Offense Coordinator
                            span(ng-show="pos=='DC'") Defense Coordinator
                            span(ng-show="pos=='SC'") Special Coordinator
                            span(ng-show="pos=='OL'") Offensive Line
                            span(ng-show="pos=='QB'") Quarterback
                            span(ng-show="pos=='RB'") Runningback
                            span(ng-show="pos=='WR'") Wide Receiver
                            span(ng-show="pos=='TE'") Tight End
                            span(ng-show="pos=='DL'") Defensive Line
                            span(ng-show="pos=='LB'") Linebacker
                            span(ng-show="pos=='DB'") Defensive Back
                            span(ng-show="pos=='P'") Punter
                            span(ng-show="pos=='K'") Kicker
                            span(ng-show="pos=='ST'") Special Team
                            span(ng-show="$index != getPlayer().position.length-1") ,
                div.homepage
                    span www.af-live.at
                
        