div(ng-controller='HomeTeam')
    div#homeTeamContainer.animate-container.transition-faster.movein-bottom.moveout-bottom(ng-show="getRosterVisible()")
        div.rosterContainer
            div.front(style="-webkit-filter:  hue-rotate({{ model.hue }}deg);")
            div.text
                div.headline
                    span(ng-bind="getTeamNameLong()")
                div.coaches
                    span(ng-show="(model.roster| filter:isCoach).length==1") Coach: 
                    span(ng-show="(model.roster| filter:isCoach).length>1") Coaches: 
                    span(ng-repeat="player in model.roster | orderBy:'name' | filter:isCoach")
                        span(ng-bind="player.name")
                        span {{$last ? '' : ', '}}
                div.players
                    div.table-responsive.col-lg-4.condensedcolumn
                        table.table.reallyCondensed(style="margin-bottom:0px")
                            tr(ng-repeat="player in model.roster | orderBy:'number' | filter:isPlayer", ng-show="$index < (model.roster | filter:isPlayer).length/3")
                                td: span {{ player.number || '' }}
                                td: span {{ player.name || '' }}
                                td(ng-show="usePositions()"): span {{ player.position.join() || '' }}
                    div.table-responsive.col-lg-4.condensedcolumn
                        table.table.reallyCondensed(style="margin-bottom:0px")
                            tr(ng-repeat="player in model.roster | orderBy:'number' | filter:isPlayer", ng-show="$index >= (model.roster | filter:isPlayer).length/3 && $index < (model.roster | filter:isPlayer).length*2/3")
                                td: span {{ player.number || '' }}
                                td: span {{ player.name || '' }}
                                td(ng-show="usePositions()"): span {{ player.position.join() || '' }}
                    div.table-responsive.col-lg-4.condensedcolumn
                        table.table.reallyCondensed(style="margin-bottom:0px")
                            tr(ng-repeat="player in model.roster | orderBy:'number' | filter:isPlayer", ng-show="$index >= (model.roster | filter:isPlayer).length*2/3")
                                td: span {{ player.number || '' }}
                                td: span {{ player.name || '' }}
                                td(ng-show="usePositions()"): span {{ player.position.join() || '' }}
                                

div(ng-controller='GuestTeam')
    div#homeTeamContainer.animate-container.transition-faster.movein-bottom.moveout-bottom(ng-show="getRosterVisible()")
        div.rosterContainer
            div.front(style="-webkit-filter:  hue-rotate({{ model.hue }}deg);")
            div.text
                div.headline
                    span(ng-bind="getTeamNameLong()")
                div.coaches
                    span(ng-show="(model.roster| filter:isCoach).length==1") Coach: 
                    span(ng-show="(model.roster| filter:isCoach).length>1") Coaches: 
                    span(ng-repeat="player in model.roster | orderBy:'name' | filter:isCoach")
                        span(ng-bind="player.name")
                        span {{$last ? '' : ', '}}
                div.players
                    div.table-responsive.col-lg-4.condensedcolumn
                        table.table.reallyCondensed(style="margin-bottom:0px")
                            tr(ng-repeat="player in model.roster | orderBy:'number' | filter:isPlayer", ng-show="$index < (model.roster | filter:isPlayer).length/3")
                                td: span {{ player.number || '' }}
                                td: span {{ player.name || '' }}
                                td(ng-show="usePositions()"): span {{ player.position.join() || '' }}
                    div.table-responsive.col-lg-4.condensedcolumn
                        table.table.reallyCondensed(style="margin-bottom:0px")
                            tr(ng-repeat="player in model.roster | orderBy:'number' | filter:isPlayer", ng-show="$index >= (model.roster | filter:isPlayer).length/3 && $index < (model.roster | filter:isPlayer).length*2/3")
                                td: span {{ player.number || '' }}
                                td: span {{ player.name || '' }}
                                td(ng-show="usePositions()"): span {{ player.position.join() || '' }}
                    div.table-responsive.col-lg-4.condensedcolumn
                        table.table.reallyCondensed(style="margin-bottom:0px")
                            tr(ng-repeat="player in model.roster | orderBy:'number' | filter:isPlayer", ng-show="$index >= (model.roster | filter:isPlayer).length*2/3")
                                td: span {{ player.number || '' }}
                                td: span {{ player.name || '' }}
                                td(ng-show="usePositions()"): span {{ player.position.join() || '' }}
                                
