- var classLabel = "col-md-3"
- var classForm = "col-md-4"

div.panel.panel-default
    block panelvars
    div.panel-heading #{panelheading}
    div.panel-body
        div.container-fluid
            block managecontent