- var classLabel = "col-md-3"
- var classForm = "col-md-4"
- var debug = true

div.panel.panel-default
    block panelvars
    div.panel-heading #{panelheading} 
        span.label.label-success(ng-show="isConnected()") connected
        span.label.label-danger(ng-hide="isConnected()") not connected
    div.panel-body
        p #{description}
    ul.list-group
        block managecontent
        //- div.container-fluid
        