extends managelayout
include mixins

block panelvars
  - var panelheading='Roster {{ team }}'
  - var description = 'Enter the team'
  

block managecontent
    +formElem ("Save/Restore data")
        download-Data
        span.btn.btn-sm.btn-warning.btn-file Upload
            input(type="file", ng-file-select="onFileSelect($files)")
            
    +formElem ("Team Name", "model.teamNameLong")
        div.form-control-static
            a(editable-text="model.teamNameLong", onaftersave="update()", e-required, d-class="form-control") {{ model.teamNameLong || "empty" }}
    +formElem ("Team Name Short", "model.teamNameShort")
        div.form-control-static
            a(editable-text="model.teamNameShort", onaftersave="update()", e-required, d-class="form-control") {{ model.teamNameShort || "empty" }}
                
    +formElem ("Add a player", "")
        button.add.btn.btn-primary(ng-click="addPlayer()") Add Player
    div.table-responsive
        table.table.table-bordered.table-hover.table-condensed
            tr
                th(style="width: 65px", ng-click="predicate = 'number'; reverse=!reverse") Number
                th(style="min-width: 150px", ng-click="predicate = 'name'; reverse=!reverse") Name
                th(style="min-width: 200px", ng-click="predicate = 'position'; reverse=!reverse") Position
                th(ng-click="predicate = 'dob'; reverse=!reverse") Date of birth
                th(ng-click="predicate = 'size'; reverse=!reverse") Size (cm)
                th(ng-click="predicate = 'weight'; reverse=!reverse") Weight
                th(ng-click="predicate = 'exp'; reverse=!reverse") Exp
                th(ng-click="predicate = 'nat'; reverse=!reverse") Nat
                th Actions
            tr(ng-repeat="player in model.roster | orderBy:predicate:reverse") 
                //- | orderBy:predicate:reverse
                td: span(editable-number="player.number", e-name="number", e-form="rowform") {{ player.number || 'empty' }}
                td: span(editable-text="player.name", e-name="name", e-form="rowform", onbeforesave="checkName($data, player.id)", e-required) {{ player.name || 'empty' }}
                td: span(editable-select="player.position", e-name="position", e-form="rowform", e-multiple, e-ng-options="s.value as s.text for s in positions", e-class="position-select") {{ showPositions(player) }}
                td: span(editable-date="player.dob", e-name="dob", e-form="rowform") {{ player.dob || 'empty' }}
                td: span(editable-number="player.size", e-name="size", e-form="rowform") {{ player.size || 'empty' }}
                td: span(editable-number="player.weight", e-name="weight", e-form="rowform") {{ player.weight || 'empty' }}
                td: span(editable-text="player.exp", e-name="exp", e-form="rowform") {{ player.exp || 'empty' }}
                td: span(editable-text="player.nat", e-name="nat", e-form="rowform") {{ player.nat || 'empty' }}
                td(style="white-space: nowrap")
                    form.form-buttons.form-inline(editable-form="", name="rowform", ng-show="rowform.$visible", oncancel="inserted == player ? removePlayer($index) : true", onaftersave="update()", shown="inserted == player")
                        button.btn.btn-sm.btn-primary(type="submit", ng-disabled="rowform.$waiting") Save
                        button.btn.btn-sm.btn-default(type="button", ng-disabled="rowform.$waiting", ng-click="rowform.$cancel()") Cancel
                    div.buttons(ng-show="!rowform.$visible")
                        button.btn.btn-sm.btn-primary(ng-click="rowform.$show()") Edit
                        button.btn.btn-sm.btn-danger(ng-click="removePlayer(player)") Delete
                        button.btn.btn-sm.btn-info(ng-click="sendPlayer(player)") Send
    div(ng-show="model.roster.length > 10")
        +formElem ("Add a player", "")
            button.add.btn.btn-primary(ng-click="addPlayer()") Add Player
